body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; 
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

hr {
  width: 50vw;
}

@media (min-width: 900px)  {
  .missionContainer {
    padding-right: 200px;
  }
}

@media (min-width: 0px) and (max-width: 1066px) {
  .hideText {
    visibility: hidden;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .alignTop {
    margin-top: -50px !important;
  }
}

@media (min-width: 0px) and (max-width: 756px) {
  .displayNone {
    display: none;
    visibility: none;
  }
}